body {
   font-family: Verdana, Helvetica, sans-serif;
   background-image: url("concrete_seamless.png");
}

.content {
	font-size: 125%;
}

.page-div {
	width: 100%;
}

.btn-div,.post-div,#instructions {
	width: 50%;
	margin: 0 auto;
}

p.post-id,.post-info {
	display: none;
}

#banner {
	padding-top: 1em;
	padding-left: 3em;
}

.title {
	text-decoration: underline;
}

.title:hover {
	color: #0080c0;
}

#username {
	color: #499847;
	text-decoration: underline;
}

#instructions {
	font-size: 150%;
	padding-top: 1em;
}